In [1]:
import pandas as pd
import numpy as np
import random
import itertools

### Load the student dataset

In [2]:
path = '/Users/janishparikh/Downloads/Algorithms-in-the-wild-1/data/student_data/student_choices_preferences_data.csv'
df = pd.read_csv(path, index_col = False)

In [3]:
def generate_pairings(df, overlap_ratio):
    n = int(df.shape[0]*overlap_ratio) #Number of students we wish to match
    m = 3 #Number of members in a team
    b = []
    temp = []
    final_teams = []
    teams = []
    flag = 0
    for i in range(1,n+1):
        b.append(i)
    temp = b.copy()
    while True:
        if(len(temp)<m and flag==m):
            if teams not in final_teams:
                final_teams.append(teams)
            if len(temp) != 0:
                final_teams.append(temp)
            break
        if(flag<=m-1):
            randp = random.randint(1,n)
            if(randp in temp):
                temp.remove(randp)
                teams.append(randp)
                flag += 1
                continue
            elif(randp not in temp):
                continue
        elif(flag == m):
            final_teams.append(teams)
            flag = 0
            teams = []
            continue
        else:
            print("Error")
            break
    return final_teams

In [7]:
def get_overlap_ratio(pref_dict, overlap_ratio):    
    matched_set = set()
    for k,v in pref_dict.items():
        for room_pref in v:
            if k in pref_dict[room_pref]:
                matched_set.update([k,room_pref])
    return len(matched_set)/len(pref_dict)

In [8]:
def roommate_preferences(data, overlap_ratio):
    df = data.copy(deep = True)
    df['roommate_preferences'] = np.empty((len(df), 0)).tolist()
    final_pairings = generate_pairings(df,overlap_ratio)
    for pairing in final_pairings:
        try:
            a, b, c = pairing[0], pairing[1], pairing[2]
            a_ruid , b_ruid, c_ruid = df.loc[a,"RUID"], df.loc[b,"RUID"], df.loc[c,"RUID"]
            df.loc[a,'roommate_preferences'].extend([b_ruid,c_ruid])
            df.loc[b,'roommate_preferences'].extend([a_ruid, c_ruid])
            df.loc[c,'roommate_preferences'].extend([b_ruid])
        except:
            pass
    print(f"Overlap Ratio obtained is {get_overlap_ratio(dict(zip(df.RUID, df.roommate_preferences)),overlap_ratio)} vs the desired {overlap_ratio}")
    return df

In [9]:
roommate_preferences(df, 0.7)

Overlap Ratio obtained is 0.699624765478424 vs the desired 0.7

,name,sex,RUID,date_of_birth,student_year,student_school,accessibility_need,low_income_status,preferred_hall_ids,preferred_residence_type,is_single_preferred,is_private_bathroom_preferred,laundry_availibility,preferred_price_range,max_price,roommate_preference,roommate_preferences
0,Jared Vega,M,162007866,2000-02-15,Freshman,School of Environmental and Biological Sciences,0,0,['SA' 'RA' 'WS'],Apartment,1,1,1,4000-6000,6000,[],[]
1,Jason Harrell,M,629404199,2002-08-22,Senior,School of Arts and Sciences,0,0,['BS' 'MS' 'RA'],Suite,1,1,1,4000-6000,6000,[],[177221259]
2,Diana Cox,F,100656641,2003-04-21,Junior,School of Arts and Sciences,0,0,['AH' 'CS' 'MZH'],Apartment,1,1,1,6000-8000,8000,[],"[855648779, 542090904]"
3,Laurie Robinson,F,806532351,2005-05-17,Freshman,Mason Gross School of the Arts,0,0,['JS' 'BH' 'RA'],Suite,1,1,1,6000-8000,8000,"[435863092, 246251245, 574046326]","[941108733, 975416622]"
4,Jordan Russell,M,658349376,2004-06-28,Freshman,School of Management and Labor Relations,0,1,['NCA' 'SA' 'MH'],Apartment,1,0,1,4000-6000,5000,"[924465854, 295235831, 210093608]","[594800942, 549650029]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5325,Anthony Stout,M,510808039,1993-12-22,Postdoctoral studies,School of Graduate Studies,0,0,['JA' 'BA'],Apartment,1,1,1,10500-12000,12000,"[980868926, 472731119, 453214478]",[]
5326,Richard Clark,M,584403193,1997-06-15,Doctorate,Graduate School of Applied and Professional Ps...,0,0,['BA' 'JA'],Apartment,1,1,1,8000-10500,10500,"[349414920, 619329365, 427045488]",[]
5327,Jennifer Wade,F,611390123,1996-04-27,Masters,School of Graduate Studies,0,1,['JA' 'BA'],Apartment,1,1,1,10500-12000,11000,"[688206270, 491680756, 977284143]",[]
5328,Robert Rogers,M,898759900,1994-04-22,Masters,School of Graduate Studies,0,0,['BA' 'JA'],Apartment,1,1,1,8000-10500,10500,"[103026260, 294027680, 793467096]",[]
5329,Andrea Chandler,F,142939034,1999-02-18,Masters,School of Graduate Studies,0,0,['BA' 'JA'],Apartment,1,1,1,8000-10500,10500,[],[]